// Colors
$brightGrey: hsl(200, 9%, 33%);
$limered: hsl(356, 96%, 45%);
$darkBlue: hsl(228.68,50.48%,20.59%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsla(0, 15%, 81%, 0.295);
$white: hsl(0, 0%, 100%);
$verydarkgrey: hsl(0, 3%, 17%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
